<ion-header>
  <ion-toolbar>
    <ion-title>Authentication</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/tabs/map">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-img src="assets/icon/favicon.png"></ion-img>
  <firebase-ui (signInSuccessWithAuthResult)="successCallback()"></firebase-ui>
  <ion-text color="medium" padding *ngIf="user$ | async as user">
    You are logged in as {{ user }}
  </ion-text>
</ion-content>
