<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-img src="assets/icon/favicon.png"></ion-img>
  <firebase-ui (signInSuccessWithAuthResult)="successCallback()"></firebase-ui>
  <ion-text color="medium" padding *ngIf="user$ | async as user">
    You are logged in as {{ user }}
  </ion-text>
</ion-content>
