<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/friends"></ion-back-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row padding-bottom>
      <ion-col>
        <ion-segment
          (ionChange)="segmentChanged($event.detail.value)"
          value="to"
        >
          <ion-segment-button value="to">
            <ion-label>Received</ion-label>
          </ion-segment-button>
          <ion-segment-button value="from">
            <ion-label>Sent</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="loading" padding-top>
      <ion-col size-md="6" offset-md="3" text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list *ngIf="users$ | async as users">
          <ion-item-sliding
            *ngFor="let user of users"
            [disabled]="user.request.accepted"
          >
            <ion-item *ngIf="!loading" [disabled]="user.request.accepted">
              <ion-avatar slot="start">
                <ion-img [src]="user.photo || 'assets/user.png'"></ion-img>
              </ion-avatar>
              <ion-label text-center>{{ user.name }}</ion-label>
              <ion-note slot="end">{{
                user.request?.date?.toDate() | timeAgo
              }}</ion-note>
            </ion-item>
            <ion-item-options side="start" *ngIf="!user.request.sentByMe">
              <ion-item-option color="success">
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item *ngIf="!users?.length && !loading">
            <ion-label text-center>
              <p>You don't have any requests for now.</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer text-center>
  <p class="footer">Slide to left or right</p>
</ion-footer>
