<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/friends"></ion-back-button>
    </ion-buttons>
    <ion-title>Add friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-searchbar
          (ionChange)="search($event.detail.value)"
          #searchBar
        ></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!searchBar.value">
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-label text-center>
            <p>Type something in the search bar!</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="loading" size-md="6" offset-md="3" text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list *ngIf="friends$ | async as friends">
          <ion-item
            (click)="showActionSheet(friend)"
            *ngFor="let friend of friends"
            button
          >
            <ion-avatar slot="start">
              <ion-img [src]="friend.photo || 'assets/user.png'"></ion-img>
            </ion-avatar>
            <ion-label text-center>{{ friend.name }}</ion-label>
          </ion-item>
          <ion-item *ngIf="!friends?.length && !loading && searchBar.value">
            <ion-label text-center>
              <p>Nothing found!</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer text-center>
  <p class="footer">Slide to right</p>
</ion-footer>
