<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="loading" text-center>
      <ion-col>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user$ | async as user; else login">
      <ion-col size-md="6" offset-md="3">
        <ion-item lines="none" margin-vertical>
          <ion-avatar>
            <img [src]="user.photo || 'assets/user.png'" />
          </ion-avatar>
          <ion-label text-center>
            <b>{{ user.name }}</b>
          </ion-label>
          <ion-button slot="end" color="danger" (click)="onSignOut()">
            Sign out
          </ion-button>
        </ion-item>
        <ion-item color="light" lines="none" margin>
          <ion-label> <b>ID :</b> {{ user.id }} </ion-label>
          <ion-button
            slot="end"
            fill="clear"
            size="small"
            color="medium"
            (click)="copyToClipboard(user.id)"
            title="Copy to clipboard"
          >
            <ion-icon
              slot="icon-only"
              [name]="isCopying ? 'done-all' : 'clipboard'"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item text-center padding-top padding-horizontal>
          <ion-label color="medium">
            Customize your profile
          </ion-label>
        </ion-item>
        <ion-item lines="none" margin>
          <ion-label>Change your name</ion-label>
          <ion-button
            slot="end"
            color="primary"
            fill="outline"
            (click)="onChangeName(user.id, user.name)"
          >
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ng-template #login>
      <ion-row padding *ngIf="!loading">
        <ion-col size-md="6" offset-md="3" padding>
          <ion-text padding text-center>
            <h1>You are not signed in</h1>
            <p>
              You have to sign in first to be able to add friends and share your
              location.
            </p>
          </ion-text>
          <ion-button routerLink="/auth" *ngIf="!loading" expand="block">
            Sign In
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>
<ion-footer text-center padding>
  <b class="footer"
    >Finder © 2019 (<a
      href="https://github.com/salah3x/finder/issues/new"
      target="_blank"
      title="Submit an issue"
      >v0.2.0</a
    >)</b
  >
</ion-footer>
