<ion-header>
  <ion-toolbar>
    <ion-title text-center>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="user$ | async as user">
    <ion-row>
      <ion-col size-md="6" offset-md="3" padding>
        <ion-item>
          <ion-avatar>
            <img [src]="user.photo || 'assets/user.png'" />
          </ion-avatar>
          <ion-label text-center>
            <b>{{ user.name }}</b>
          </ion-label>
          <ion-button
            *ngIf="!user.offline"
            slot="end"
            color="danger"
            (click)="onSignOut()"
          >
            Sign out
          </ion-button>
          <ion-button *ngIf="user.offline" slot="end" routerLink="/auth">
            Sign In
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" padding>
        <ion-item lines="none" color="light">
          <ion-label> <b>ID :</b> {{ user.id }} </ion-label>
          <ion-button
            slot="end"
            fill="clear"
            size="small"
            color="medium"
            (click)="copyToClipboard(user.id)"
            title="Copy to clipboard"
          >
            <ion-icon
              slot="icon-only"
              [name]="isCopying ? 'done-all' : 'clipboard'"
            ></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer text-center padding>
  <b class="footer"
    >Finder © 2019 (<a
      href="https://github.com/salah3x/finder/issues/new"
      target="_blank"
      title="Submit an issue"
      >v0.1.0</a
    >)</b
  >
</ion-footer>
