<ion-header>
  <ion-toolbar>
    <ion-title text-center>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" *ngIf="user$ | async as user" padding>
        <ion-item>
          <ion-avatar>
            <img [src]="user.photoURL || 'assets/user.png'" />
          </ion-avatar>
          <ion-label text-center>
            <b>{{ user.displayName }}</b>
          </ion-label>
          <ion-button slot="end" color="danger" (click)="onSignOut()">
            Sign out
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer text-center padding>
  <b class="footer"
    >Finder © 2019 (<a
      href="https://github.com/salah3x/finder/issues/new"
      target="_blank"
      title="Submit an issue"
      >v0.0.1</a
    >)</b
  >
</ion-footer>
